@charset "utf-8";

/*common start*/
html {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: #f2f2f2;
}

.inner {
  max-width: 1300px;
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

.total-wrap {
  background: #f2f2f2;
}
/*common end*/

/*header start*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  align-items: center;
}

.logo-area {
  display: flex;
  align-items: center;
}

.logo-area .logo a {
  display: block;
  margin-right: 10px;
  color: mediumseagreen;
}

.sub-title {
  font-size: 1.2rem;
}

.header-nav-wrap .nav-list {
  display: flex;
  justify-content: space-between;
}

.header-nav-wrap .nav-list .nav-item a {
  position: relative;
  margin-right: 35px;
  font-size: 1.5rem;
}

.header-nav-wrap .nav-list .nav-item.info a{
  position: relative;
}

.header-nav-wrap .nav-list .nav-item.info a::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 0;
  bottom: -10px;
  left: 50%;
  background: #000;
  opacity: 0;
  transition: all .8s cubic-bezier(.19,1,.22,1);
    transition-timing-function: cubic-bezier(.19,1,.22,1);
}

.header-nav-wrap .nav-list .nav-item.info:hover a::after {
  opacity: 1;
  left: 0;
  width: 100%;  
}

.header-nav-wrap .nav-list .entry a{
  position: relative;
  margin-right: 0;
  padding: 7px 30px 7px 20px;
  background: mediumseagreen;
  border-radius: 30px;
  color: #fff;
}

.header-nav-wrap .nav-list .entry a::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 20px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  width: 10px;
  height: 10px;
  transform: rotate(45deg) translateY(-75%);
  transition: all 0.2s ;
}

.header-nav-wrap .nav-list .entry:hover a::after {
  right: 15px;
}
/*header end*/

/*hero start*/

/*hero end*/

/*vision start*/

/*vision end*/

/*about start*/

/*about end*/

/*staff start*/

/*staff end*/

/*recruit start*/

/*recruit end*/

/*footer start*/

/*footer end*/